<div id="install">
  <h2>Installation</h2>
  <pre class="highlight">npm install vue2-slideout-panel --save-dev</pre>
  <h2>Usage</h2>
  <p>
    1) Install the Vue Slideout Panel plugin:
  </p>
  <pre class="highlight">import Vue from 'vue';
import VueSlideoutPanel from 'vue2-slideout-panel';

Vue.use(VueSlideoutPanel);</pre>
  <p>
    2) In your HTML add the component:
  </p>
  <div class="highlight">
    <pre class="highlight">&lt;slideout-panel&gt;&lt;/slideout-panel&gt;</pre>
  </div>
  <p>
    3) Launch a panel from your component:
  </p>
  <pre class="highlight">
methods: {
  showPanel() {
    const panel1Handle = this.$showPanel({
      component : 'your-component-name',
      props: {
        //any data you want passed to your component
      }
    })

    panel1Handle.promise
      .then(result => {

      });
  }
}
</pre>
  <div class="alert">
    <p>
      <code>'your-component-name'</code> just needs to be the name of a valid component that you have registered with Vue like this:
      <code>Vue.component('your-component-name', {})</code>
    </p>
  </div>
  <p>
    The <code>$showPanel()</code> method returns a <code>PanelResult</code> object.
  </p>
  <p>
    <router-link :to="{ name : 'PanelResult' }">Learn more about the <code>PanelResult</code> object here.</router-link>
  </p>
</div>
