<div id="panel-1">
  <h1 v-if="!name">You didn't enter your name!</h1>
  <h1 v-if="name">Hey there, {{ name }}!</h1>
  <p>
    Want to see another panel stacked on top of this one?
  </p>
  <div class="form">
    <form novalidate>
      <div class="form-group">
        <label>Enter Your Age</label>
        <input type="number" class="form-control" v-model="example1Form.age">
      </div>
      <div class="form-group">
        <label>Keep Alive</label>
        <input type="checkbox" class="form-control" v-model="example1Form.keepAlive">
      </div>
    </form>
    <button class="" v-on:click.prevent="showPanel2">
      Open Another Panel
    </button>
  </div>
  <p>
    Or you can close this panel
  </p>
  <button class="" v-on:click.prevent="closePanel">
    Close Panel
  </button>
</div>
