<div id="panel-1">
  <h1>This is a slideout panel</h1>
  <p>
    Slideout panels are stackable, and you can customize the width and side they open on.
  </p>
  <p>
    Here's a bunch of random text to show that panels can contain as much content as you'd like.
  </p>
  <p>
    Lorem ipsum dolor amet salvia distillery plaid flexitarian, letterpress organic meh pug. Viral squid you probably haven't heard of them mustache vexillologist jianbing migas PBR&B neutra craft beer. Stumptown snackwave literally, af celiac butcher master
    cleanse hashtag man braid artisan cornhole. Palo santo banh mi raw denim, flexitarian hexagon biodiesel chambray ugh hella franzen before they sold out. Man bun palo santo flexitarian VHS typewriter retro, fashion axe af polaroid prism shaman. Hot
    chicken dreamcatcher retro keffiyeh. Gastropub retro ramps wayfarers green juice marfa microdosing, pork belly selvage sustainable. Retro hammock narwhal la croix chartreuse tilde enamel pin helvetica unicorn roof party photo booth brooklyn pour-over
    glossier church-key. You probably haven't heard of them mustache knausgaard banjo air plant, edison bulb pork belly letterpress copper mug. Pug kinfolk cornhole selvage la croix, organic farm-to-table ethical squid tattooed williamsburg. Kitsch hot
    chicken raclette mustache cliche disrupt, cred art party bicycle rights next level. Normcore disrupt mlkshk taiyaki pinterest VHS shoreditch bushwick polaroid cornhole pickled. +1 post-ironic four dollar toast kale chips actually. Try-hard small batch
    adaptogen YOLO chambray tilde. Hashtag occupy raclette waistcoat, hell of vinyl gastropub green juice chillwave iPhone brooklyn skateboard. Kale chips kogi polaroid swag readymade williamsburg cardigan intelligentsia microdosing twee. Ethical vaporware
    jean shorts master cleanse umami semiotics. Edison bulb pop-up ugh la croix, meditation tofu yr letterpress kinfolk deep v waistcoat asymmetrical selfies godard twee. Street art helvetica cold-pressed hashtag echo park. Yuccie green juice shabby chic,
    normcore portland lomo chartreuse hexagon banjo subway tile paleo pitchfork marfa.
  </p>
</div>
